@import '@carbon/themes/scss/themes';
@import 'carbon-components/scss/globals/scss/typography';

$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

.formHeaderContainer {
  color: $text-01;
  margin-bottom: calc(#{$spacing-04} + #{$spacing-09});
}

.formHeaderIcon {
  width: 48px;
  fill: $text-01;
}

.formHeaderLabelContainer {
  display: flex;
  align-items: baseline;
}

.formHeaderLabel {
  @include carbon--type-style('body-long-01');
  color: $text-01;
}

.formHeaderLabelLink {
  @include carbon--type-style('body-long-01');
}
