.bx--header__nav.header__menu-item::before {
  content: none;
}

.header__menu-item {
  padding: 0;
}

.bx--inline-notification__close-icon {
  stroke: white;
}

.bx--inline-notification__close-button {
  stroke: white;
}
