@import 'carbon-components/scss/globals/scss/typography';
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

.sidebar {
  color: $text-01;
  margin-top: $layout-03;
  max-width: 100%;
  height: 100%;
  display: none;
}

.sidebarHeading {
  @include carbon--type-style('productive-heading-03');
}

.sidebarSubheading {
  color: $ui-05;
  max-width: 300px;
  @include carbon--type-style('body-short-02');
}

@include carbon--breakpoint-up(lg) {
  .sidebar {
    display: block;
    position: fixed;
    right: 150px;
  }
}

@include carbon--breakpoint-up(xlg) {
  .sidebar {
    position: fixed;
    right: 300px;
  }
}
