@import 'carbon-components/scss/globals/scss/typography';
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

.formContainer {
  display: grid;
  max-width: 500px;
  width: 100%;
  border-left: 2px solid #538bf7;
  padding-left: $spacing-07;
  padding-bottom: $spacing-07;
  padding-right: $spacing-07;
}

.formButton {
  max-width: 25%;
  width: 25%;
}

.formInputContainer {
  position: relative;
  width: 100%;
}

.inlineLoading {
  position: absolute;
  top: $spacing-04;
  height: 100%;
  justify-content: flex-end;
  width: 50px;
  right: $spacing-03;
}

.radioButtonGroup {
  color: $text-01;
}

.passwordInputContainer {
  position: relative;
}

.formSuccessDetails {
  border-left: 2px solid $interactive-04;
  color: $text-02;
  padding-left: $spacing-08;
  padding-bottom: $spacing-06;
}

.formSuccessEditButton {
  border: none;
  background-color: transparent;
}

.formSuccessEmail {
  @include carbon--type-style('body-short-02');
}

.formSuccessPassword {
  @include carbon--type-style('productive-heading-04');
  margin: $spacing-02 0;
}

.formSuccessAccount {
  @include carbon--type-style('body-short-02');
  text-transform: capitalize;

  span {
    text-transform: lowercase;
  }
}
