@import 'carbon-components/scss/globals/scss/typography';
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

.formContainer {
  display: grid;
  // max-width: 400px;
  width: 100%;
  border-left: 2px solid $interactive-04;
  padding-bottom: $spacing-07;
  padding-left: $spacing-08;
  padding-right: $spacing-08;
}

.formButton {
  max-width: 25%;
  width: 25%;
}

.formDetails {
  padding-top: $spacing-03;
  padding-bottom: $spacing-07;
  padding-left: $spacing-08;
  @include carbon--type-style('body-long-01');
  color: $text-01;
  max-width: 400px;
  border-left: 2px solid #538bf7;
}

.formLabelContainer {
  display: flex;
  align-items: baseline;
}

.formLabel,
.formLabelLink {
  @include carbon--type-style('body-long-01');
}

.formLabel {
  color: $text-02;
  white-space: nowrap;
}

.textInput {
  width: 50%;
}
