@import 'carbon-components/scss/globals/scss/typography';
@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

.formContainer {
  display: grid;
  max-width: 400px;
  width: 100%;
  border-left: 2px solid $interactive-04;
  padding-bottom: $spacing-07;
  padding-left: $spacing-08;
}

.formButton {
  max-width: 35%;
  width: 35%;
}

.formDetails {
  padding-top: $spacing-03;
  padding-bottom: $spacing-07;
  padding-left: $spacing-08;
  color: $text-02;
  max-width: 500px;
  border-left: 2px solid #538bf7;
}

.formLabelContainer {
  display: flex;
  align-items: baseline;
}

.formLabel {
  color: $text-02;
}
