.app {
  margin-top: 96px;
}

@media (min-width: 1056px) {
  .app {
    background: url('https://res.cloudinary.com/mattthebunny/image/upload/a_vflip/c_scale,q_100,w_1851/a_90/v1614621697/3_AI_Ready_03-02_h4btd0.webp');
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: top -100px left 400px;
  }
}

@media (min-width: 1312px) {
  .app {
    background-position: top -100px left 600px;
  }
}

@media (min-width: 1584px) {
  .app {
    background-position: top left 725px;
    background-position: top -100px left 725px;
  }
}

.formButton {
  max-width: 100%;
  width: 100%;
}
