// Carbon Style Imports
@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint';
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/vars';
@import '@carbon/themes/scss/themes';

$carbon--theme: $carbon--theme--g100;
@include carbon--theme($carbon--theme--g100);
@import './styles/base/g100';
@import './styles/base/base';
@import './styles/utilities/margins';
@import './styles/utilities/paddings';

.bx--grid {
  padding: 0;
  margin: 0;
}

.bx--row {
  margin-right: 16px;
}

.bx--inline-loading {
  width: auto;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
