.app {
  height: 100%;
  padding: 0 32px;
}

@media (min-width: 1056px) {
  .app {
    padding: 0 64px;
    background: url('https://res.cloudinary.com/mattthebunny/image/upload/a_vflip/c_scale,q_100,w_1851/a_90/v1614621697/3_AI_Ready_03-02_h4btd0.webp');
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: bottom -175px right -700px;
  }
}

@media (min-width: 1312px) {
  .app {
    background-position: bottom -175px right -600px;
  }
}

@media (min-width: 1584px) {
  .app {
    background-position: bottom -175px right -500px;
  }
}

.formButton {
  max-width: 100%;
  width: 100%;
}

.formContainer {
  height: 600px;
  overflow: scroll;
}
