.formButton {
  max-width: 100%;
  width: 100%;
}

.app {
  background-color: red;
  height: 100vh;
  background: url('https://res.cloudinary.com/mattthebunny/image/upload/a_vflip/a_90/v1614621697/3_AI_Ready_03-02_h4btd0.png');
}

@media (min-width: 672px) {
  .app {
    background-position: top -100px left 400px;
    background-size: contain;
    background-size: 1750px;
    object-fit: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1056px) {
  .app {
    background-position: top -100px left 500px;
    background-size: contain;
    background-size: 1750px;
    object-fit: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1312px) {
  .app {
    background-position: top -100px left 700px;
    object-fit: contain;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1584px) {
  .app {
    background-position: center left 750px;
    background-size: 1750px;
    object-fit: contain;
    background-repeat: no-repeat;
  }
}
