@import '@carbon/themes/scss/themes';
$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

.passwordTooltip {
  position: absolute;
  top: 60px;
  left: 135px;
  height: 1px;
  width: 1px;
  // background-color: $interactive-02;
}

.passwordRequirementContainer {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: $spacing-05;
  align-items: start;
  margin-right: $spacing-03;
  color: white;

  &:not(:last-child) {
    padding-bottom: 16px;
  }
}

.hasLowerCaseSuccess,
.hasUpperCaseSuccess,
.hasNumberSuccess,
.hasLengthSuccess,
.hasSpecialCharactersSuccess {
  color: $inverse-support-02;
}

.hasSpecialCharactersError {
  color: red;
}
