// @use 'src/App' as theme;

.accordionButton {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 50px;
  background-color: #262626;
  color: white;
  border: none;
  border-left: 2px solid #538bf7;
  text-align: left;
  align-items: center;
  gap: 8px;
}

// .accordionButtonIcon {
//   fill: white;
//   width: 16px;
//   fill: blue;
//   background-color: blue;
//   stroke: blue;
// }

.accordionBody {
  max-width: 600px;
  background-color: #262626;
  overflow: hidden;
  width: 100%;
}

.accordionButtonIcon {
  fill: transparent;
  width: 16px;
  stroke: white;
  stroke-width: 8;
}

.accordionButtonIconComplete {
  stroke: #538bf7;
  fill: #538bf7;
}
